/*Cargar usuarios de twitter*/
.agregar-cuentas-twitter .title-container img {
    height: 2em;
    margin-left: 1em;
  }
  .agregar-cuentas-twitter img.responsive-img,
  video.responsive-video {
    height: 3em;
    width: 3em;
  }
  .user-img img {
    display: inline-block;
    vertical-align: middle;
  }
  .account-data,
  .actions,
  .actions span {
    display: inline-block;
    vertical-align: middle;
    line-height: 3em;
  }
  .user-img {
    width: auto !important;
  }
  .actions {
    text-align: right;
    padding-right: 0 !important;
  }
  #list-of-twitter td span {
    padding-left: 0;
  }
